<p id="notice"><%= notice %></p>

<h1>Listing Extracurriculars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extracurriculars.each do |extracurricular| %>
      <tr>
        <td><%= extracurricular.name %></td>
        <td><%= extracurricular.description %></td>
        <td><%= extracurricular.school_id %></td>
        <td><%= link_to 'Show', extracurricular %></td>
        <td><%= link_to 'Edit', edit_extracurricular_path(extracurricular) %></td>
        <td><%= link_to 'Destroy', extracurricular, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extracurricular', new_extracurricular_path %>
